.title {
  font-size: 75px;
  padding: 20px;
  color: rgb(13, 16, 65);
  font-family: "Oleo Script", system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 20px;
  color: rgb(13, 16, 65);
  font-family: "Oleo Script", system-ui;
  margin: 20px 0px 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 200px;
  margin: 20px 0px 30px 0px;
  border: solid rgb(6, 32, 71) 2px;
}

.button {
  align-items: start;
  background-color: rgb(6, 54, 100);
  box-shadow: 2px 2px rgb(2, 15, 25);
  width: 100px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.pista {
  border: solid rgb(6, 32, 71) 2px;
  margin-bottom: 50px;
  color: rgb(188, 188, 188);
  background-color: white;
  font-family: "Oleo Script", system-ui;
}

.intentos {
  border: solid rgb(6, 32, 71) 2px;
  color: rgb(188, 188, 188);
  background-color: white;
  font-family: "Oleo Script", system-ui;
}

body {
  background: linear-gradient(rgb(194, 227, 254), rgb(81, 147, 169));
  height: 100vh;
}
